.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
img, svg {
  vertical-align: middle;
  width: 100%;
}
section.firstsec {
  padding: 5% 0;
}
nav.navbar.navbar-light.bg-faded {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}
.col-md-6.padding-card {
  padding: 0px 5%;
  color: #fff;
}
.container {
  margin-top: 45px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
